.sidebar {
    padding: 20px;
    border-radius: 5px;
}

.sidebar h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar li:hover {
    cursor: pointer;
    color: #ff6600;
}

