.sidebar {
    padding: 20px;
    border-radius: 5px;
}

.sidebar h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.sidebar li:hover {
    cursor: pointer;
    color: #ff6600;
}

.color-circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;

}



@media screen and (max-width: 768px) {
    .sidebar {
      /* This will hide the sidebar on screens smaller than 768px */
      display: none;
    }
  }