.search-input {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 90%;
    height: 5rem;
    background-color: white;
}

.search-input input {
    width: 90%;
    height: 3rem;
    border: 1px solid #e0e0e0;
    border-radius: 1rem;
    padding-left: 1rem;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #333;
}

.search-input input:focus {
    outline: none;
}

