.card img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.card a{
    text-decoration: none;
    color: black;
}

.card{
  max-width: 300px;
}

.card a:hover{
    text-decoration: underline;
    color: black;
}
```