.card img:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.card a{
    text-decoration: none;
    color: black;
}

.brand{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.card-title{
  font-size: 14px;
}

.card a:hover{
    text-decoration: underline;
    color: black;
}
```