.seller-banner-container img{
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.seller-banner-container button{
    margin: 0 auto;
    width: 10rem;
    height: 3rem;
    background: color #1b1b1b;;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bolder;
    cursor: pointer;
}

.seller-banner-container h5{
    width: 20rem;
    margin-top: 1rem;
    text-align: left;
    font-weight: bolder;
}

.seller-banner h1{
    font-size: 4.5rem;

    margin: 0;
    padding: 0;
    text-align: center;
}